{{#if message}}
     {{message}}
{{/if}}
<form method="post">
  <div class="form-group">
    <label for="exampleInputTitle">Title</label>
    <input type="text" class="form-control" id="exampleInputTitle" name="postTitle" aria-describedby="emailHelp" placeholder="post title">
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Meta data</label>
    <textarea class="form-control" id="exampleTextarea" name="postMeta" rows="3" placeholder="meta data about post"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Blog post</label>
    <textarea class="form-control" id="postPost" name="postData" rows="3" placeholder="post data"></textarea>
  </div>
{{!--   <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
  </div> --}}
  <button type="submit" class="btn btn-primary">Submit</button>
  <script>
    CKEDITOR.replace('postPost');
  </script>
</form>